.articles-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    .article {
      width: 30%;
      margin-bottom: 20px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      border-radius: 5px;
      overflow: hidden;
      
      img {
        width: 20px;
        height: 200px;
        object-fit: cover;
      }
      
      h2 {
        font-size: 24px;
        margin: 10px;
      }
      
      p {
        font-size: 16px;
        margin: 10px;
      }
      
      a {
        display: block;
        padding: 10px;
        background-color: #2196F3;
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-weight: bold;
        transition: background-color 0.3s ease;
        
        &:hover {
          background-color: #0D47A1;
        }
      }
    }
  }